<!DOCTYPE html>
<html>
  <head></head>
  
  <body>
    <a href="<%= '/recipes/new' %>"
    <p> Add a recipe</p> 
    
    <% recipe.each_with_index do |recipe| %>
      <a href=<%= "/recipes/#{recipe.id}"%>
      
      <p>Recipe: <%=recipe.name%> </p>
      <p>Ingredients: </p>
    
  </body>
</html>